<div class="content container-fluid">
  <div class="page-header d-flex justify-content-between align-items-center">
    <div class="add-blog my-2">
      <button
        class="btn addbtn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#developerAddModal"
      >
        <i class="fa fa-plus"></i> Add New Developer
      </button>
    </div>
  </div>
</div>

<table class="table table-striped mx-auto">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Logo</th>
      <th scope="col">Name</th>
      <th scope="col">Slogan</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let developer of developerList">
      <th scope="row"></th>
      <td>{{ developer.logo }}</td>
      <td>{{ developer.name }}</td>
      <td>{{ developer.slogan }}</td>
      <td>
        <button
          class="btn addbtn btn-success"
          data-bs-toggle="modal"
          data-bs-target="#developerUpdateModal"
          (click)="obtainDeveloperDetailsForUpdate(developer.id)"
        >
          <i class="fa fa-pencil"></i>
        </button>
      </td>
      <td>
        <button
          class="btn addbtn btn-danger"
          data-bs-toggle="modal"
          data-bs-target="#developerDeleteModal"
          (click)="assignDeleteDeveloperId(developer.id)"
        >
          X
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal - Update Developer -->

<div
  class="modal fade"
  id="developerUpdateModal"
  tabindex="-1"
  aria-labelledby="developerLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
  >
    <div class="modal-content decorate-modal">
      <div class="modal-header">
        <h5 class="modal-title" id="blogModalLabel">Update Developer</h5>
        <button
          (click)="onClose()"
          type="button"
          id="close-update-developer"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="developerUpdateForm">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-form-label"
                  >Name <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  formControlName="name"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-form-label">Slogan </label>
                <input
                  type="text"
                  formControlName="slogan"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-form-label">Logo </label>
                <input
                  type="text"
                  formControlName="logo"
                  class="form-control"
                />
              </div>
            </div>
          </div>
        </form>
        <div class="text-center mt-5">
          <button
            type="button"
            class="btn btn-success"
            (click)="updateSelectedDeveloper()"
          >
            Update Developer
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal - Delete Developer -->

<div
  class="modal fade"
  id="developerAddModal"
  tabindex="-1"
  aria-labelledby="developerLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
  >
    <div class="modal-content decorate-modal">
      <div class="modal-header">
        <h5 class="modal-title" id="blogModalLabel">Add new Developer</h5>
        <button
          (click)="onClose()"
          type="button"
          id="close-add-developer"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="developerForm">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-form-label"
                  >Name <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  formControlName="name"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-form-label">Slogan </label>
                <input
                  type="text"
                  formControlName="slogan"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="col-form-label">Logo </label>
                <input
                  type="text"
                  formControlName="logo"
                  class="form-control"
                />
              </div>
            </div>
          </div>
        </form>
        <div class="text-center mt-5">
          <button
            type="button"
            class="btn btn-primary"
            (click)="addNewDeveloper()"
          >
            Add Developer
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal - Delete Developer -->

<div
  class="modal fade"
  id="developerDeleteModal"
  tabindex="-1"
  aria-labelledby="developerDeleteLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
  >
    <div class="modal-content decorate-modal">
      <div class="modal-header">
        <h5 class="modal-title" id="developerDeleteModal">Delete Developer</h5>
        <button
          (click)="onClose()"
          type="button"
          id="close-delete-developer"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="text-center mt-1">
          This removes all games tagged to this developer, and cannot be undone.
          Proceed?
        </div>
        <div class="text-center mt-2">
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteSelectedDeveloper(selectedDeveloperId)"
          >
            Delete Developer
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
