<div class="page-header d-flex justify-content-between align-items-center">
  <div class="page-header text-dark">
    <button class="btn btn-success m-2" (click)="returnToViewGame()">
      Game Details
    </button>
  </div>
</div>
<div
  class="container-fluid mt-3 roboto-slab-title text-center"
  style="width: 800px"
>
  <h1 class="text-center roboto-slab-title">Update Game</h1>
</div>
<div
  class="container-fluid mt-3 update-form border border-dark rounded"
  style="width: 800px"
>
  <div class="container-fluid mt-3" style="width: 700px">
    <form [formGroup]="gameUpdateForm" class="text-center">
      <div class="row mb-3">
        <div class="text-left">
          <label class="col-form-label"
            >Name <span class="text-danger">*</span></label
          >
        </div>

        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
        />
      </div>
      <!-- Description -->
      <div class="row mb-3">
        <div>
          <label class="col-form-label"
            >Description <span class="text-danger">*</span></label
          >
        </div>
        <input
          type="text"
          class="form-control"
          id="description"
          formControlName="description"
        />
      </div>
      <!-- Image -->
      <div class="row mb-3">
        <div>
          <label class="col-form-label">Image Url </label>
        </div>
        <input
          type="text"
          class="form-control"
          id="imageurl"
          formControlName="imageurl"
        />
      </div>
      <div class="row mb-3">
        <div>
          <label class="col-form-label"
            >Price <span class="text-danger">*</span></label
          >
        </div>
        <input
          type="number"
          class="form-control"
          id="price"
          formControlName="price"
        />
      </div>
      <!-- MatureRating -->
      <div class="mx-auto mb-3" style="width: 75%">
        <label for="codeMatureRating" class="form-label"
          >Mature Rating<span class="text-danger">*</span></label
        >
        <select
          id="codeMatureRating"
          formControlName="codeMatureRating"
          class="form-control form-select text-center"
        >
          <option
            *ngFor="let matureRating of codeMatureRatingList"
            [value]="matureRating.code"
          >
            {{ matureRating.decodeValue }}
          </option>
        </select>
      </div>
      <!-- Developer -->
      <div class="mx-auto mb-3" style="width: 50%">
        <label for="developerId" class="form-label"
          >Developer<span class="text-danger">*</span></label
        >
        <select
          class="form-control form-select text-center"
          formControlName="developerId"
          id="developerId"
        >
          <option
            *ngFor="let developer of developerList"
            [value]="developer.id"
          >
            {{ developer.name }}
          </option>
        </select>
      </div>
    </form>
    <form [formGroup]="codesTableGenreUpdateForm">
      <div class="mx-auto">
        <label for="concatenatedCodeGenre" class="form-label"
          >Genre<span class="text-danger">*</span></label
        >
      </div>
      <div class="checkbox-container text-left">
        <div *ngFor="let genre of codeGenreList" class="checkboxlist">
          <input
            type="checkbox"
            formControlName="{{ genre.code }}"
            id="{{ genre.code }}"
            (change)="updateConcatenatedCodeGenre()"
          />
          <label for="{{ genre.code }}" class="checkbox-text">
            {{ genre.decodeValue }}
          </label>
        </div>
      </div>
    </form>
    <form [formGroup]="codesTablePlatformUpdateForm">
      <div class="mx-auto">
        <label for="concatenatedCodePlatform" class="form-label"
          >Platform<span class="text-danger">*</span></label
        >
      </div>
      <div class="checkbox-container text-left">
        <div *ngFor="let platform of codePlatformList" class="checkboxlist">
          <input
            type="checkbox"
            formControlName="{{ platform.code }}"
            id="{{ platform.code }}"
            (change)="updateConcatenatedCodePlatform()"
          />
          <label for="{{ platform.code }}" class="checkbox-text">
            {{ platform.decodeValue }}
          </label>
        </div>
      </div>
    </form>
    <div class="mx-auto mt-3" style="width: 20%">
      <button type="button" class="btn btn-info" (click)="updateGame()">
        Update Game!
      </button>
    </div>
  </div>
</div>
