<div class="container d-flex flex-row flex-wrap justify-content-start">
  <div *ngFor="let game of gameList">
    <div
      class="card m-3 decorate-cards border-dark rounded"
      style="width: 18rem"
    >
      <img [src]="game.imageUrl" class="card-img-top" alt="game" />
      <div class="card-body text-center">
        <h5 class="card-title">{{ game.name }}</h5>
        <p class="card-text">${{ game.price }}</p>
        <div class="text-center">
          <button class="btn btn-primary">Details</button>
        </div>
      </div>
    </div>
  </div>
</div>
